<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign UP</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/auth" method="POST">
        Name: <input type="text" name="name" /><br/>
        Username: <input type="text" name="username" /><br/>
        Password: <input type="text" name="password" /><br/>
        <input type="submit" name="" value="SignUP"/>
    </form>
</body>
</html>